# Allows changing this script and not having to worry about adding modified version to PR.
run_and_render.sh

*.mp4
*.png
*.pkl
log/
**/__pycache__/
players/__pycache__/
render/
.DS_Store

# IDE files
.idea/
.vscode/
Brewfile
players/g2_player.py
render_game_100.py
run_and_render_100.sh
